body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
}

#threejs-canvas {
    width: 50vw;
    height: 100vh;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.controls label {
    margin-bottom: 5px;
}

.controls input[type="range"] {
    margin-bottom: 20px;
    width: 200px;
}

